body{
  margin: -8px;
  padding:0;
}
.encabezado{
  text-align: center;
  color: white;
  font-family: monospace;
  font-size: 40px;

}
.HEADER{
  background-color: black;
  width: 20%;
  height:140px;
  float: left;


}
.MENU{
  background-color: rgb(241,60,79);
  width: 80%;
  height: 140px;
  float: right;
}

